
/* 컨텐츠 크기 */
[class*='width'] , .subTitle div{max-width: 640px; margin: 0 auto;}
.width01{width: calc(100% - 30px);}
.width02{width: calc(100% - 40px);}
.subTitle div{width: calc(100% - 20px);}

/* 메인 색상 */
mark{color: #0bbef3;}

/* 숨겨진 타이틀 */
.hiddenTitle{height: 0.1px; overflow: hidden;}

/* 서브 타이틀 */
.subTitle{position: fixed; left: 0; top: 0; width: 100%;}
.subTitle div{ display: flex; flex-wrap: wrap; padding: 15px 0;}
.subTitle div a{width: 24px; height: 24px; text-indent: -9999px; background: url('../images/ic-back.png') no-repeat center / cover; margin-bottom: 30px;}
.subTitle div h2{width: 100%; font-size: 20px; font-weight: 700; padding: 0 10px;}
.subTitle.active{background-color: #2e3239;}
.subTitle.active div a{margin: 0; background-image: url('../images/ic-back-white.png');}
.subTitle.active div h2{width: 50%; color: white;}

/* body{padding-bottom: 51px;}
.subPage{padding-top: 125px;} */

/* 푸터 */
footer{padding: 40px 0; font-size: 13px; background-color: #f3f3f3;}
footer div{ text-align: center; }
footer div ul{display: flex; justify-content: center; margin-bottom: 20px;}
footer div ul li:not(:last-child){border-right: 1px solid black;}
footer div ul li a{display: block; padding: 0 10px;  font-weight: 300;}
footer div ul li a b{font-weight: 500;}
footer div p:nth-of-type(1){max-width: 220px; margin: 0 auto 10px; }
footer div p:nth-of-type(1) b{font-weight: 700;}
footer div > a{font-size: 18px; font-weight: 500; margin-bottom: 20px;}
footer div p:nth-of-type(2){font-size: 12px; font-weight: 300; color: #666;}

