/* 메인 페이지 */
.mainPage{max-width: calc(100% - 30px); width: calc(640px - 30px); margin: 0 auto;}
.mainPage header{padding: 15px 0; text-align: right; margin-bottom: 25px;}
.mainPage section{text-align: center; margin-bottom: 50px;}
.mainPage section h2{font-size: 20px; font-weight: 500; margin-bottom: 30px;}
.mainPage section h2 mark{display: block; font-size: 31px; margin-bottom: 5px;}
.mainPage section p{max-width: 230px; margin: 0 auto; font-size: 15px; font-weight: 300; line-height: normal; color: #666; margin-bottom: 30px; position: relative;}
.mainPage section > div{text-align: left; height: 240px; background: #2e3239;  margin-bottom: 45px; position: relative;}
.mainPage section div::before ,.mainPage section  div::after{content: ''; position: absolute;}
.mainPage section > div::before{width: 120px; height: calc(100% - 5px); right: -15px; top: 30px; background-color: #0bbef3; transform-origin: right top; transform: skewX(-45deg);}
.mainPage section > div::after{width: 168px; height: 168px; right: 0; bottom: 0; background: url('../images/car.png') no-repeat right bottom;}
.mainPage section > div div{height: 100%; padding: 35px; box-sizing: border-box; overflow: hidden; position: relative;}
.mainPage section > div div::before ,.mainPage section > div div::after{position: absolute;border-style: solid; border-color: white transparent;}
.mainPage section > div div::before{border-width: 30px 30px 0; left: -30px; top: 0;}
.mainPage section > div div::after{border-width: 0 30px 30px; right: -30px; bottom: 0;}
.mainPage section > div div strong{display: block; font-size: 20px; font-weight: 700; color: white; margin-bottom: 10px;}
.mainPage section ul{display: flex;}
.mainPage section ul li{flex: 1;}
.mainPage section ul li:nth-child(3n + 2){border-width: 0 1px; border-style: solid; border-color: #e6e6e6;}
.mainPage section ul li a{display: block; padding: 60px 0 5px; background-repeat: no-repeat; background-position: center top 15px; font-size: 12px; font-weight: 300;}
.mainPage section ul li:nth-child(1) a{background-image: url('../images/ic-cs.png');}
.mainPage section ul li:nth-child(2) a{background-image: url('../images/ic-faq.png');}
.mainPage section ul li:nth-child(3) a{background-image: url('../images/ic-info.png');}

/* 메인 메뉴 */
.mainPage nav{ position: fixed; left: 0; bottom: 0; width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.2); background-color: white;}
.mainPage nav .mainManu ul{display: flex;}
.mainPage nav .mainManu ul li{flex: 1;}
.mainPage nav .mainManu ul li :is(a , button){display: block; width: 100%; line-height: 55px; text-indent: -9999px; background-repeat: no-repeat; background-position: center; opacity: 0.5;}
.mainPage nav .mainManu ul li:nth-child(1) :is(a , button){background-image: url('../images/ic-home.png');}
.mainPage nav .mainManu ul li:nth-child(2) :is(a , button){background-image: url('../images/ic-list.png');}
.mainPage nav .mainManu ul li:nth-child(3) :is(a , button){background-image: url('../images/ic-search.png');}
.mainPage nav .mainManu ul li:nth-child(4) :is(a , button){background-image: url('../images/ic-menu.png');}
.mainPage nav .mainManu ul li.active a{opacity: 1;}
/* .mainPage nav .sideMenu{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);} */
.mainPage nav .sideMenu > div{width: 290px; margin-left: auto; height: 100%; background-color: white; position: relative;}
.mainPage nav .sideMenu > div h2{font-size: 16px; font-weight: 500; padding: 15px;}
.mainPage nav .sideMenu > div h2 a{display: flex; align-items: center;}
.mainPage nav .sideMenu > div h2 a::before{content: ''; width: 24px; height: 24px; background: url('../images/ic-home.png') no-repeat center / cover; margin-right: 10px;}
/* .mainPage nav .sideMenu > div div button{width: 24px; height: 24px; position: relative;  text-indent: -9999px;}
.mainPage nav .sideMenu > div div button::before , .mainPage nav .sideMenu > div div button::after{content: ''; position: absolute; left: 50%; top: 50%; width: 75%; height: 2px; background-color: black;}
.mainPage nav .sideMenu > div div button::before{transform:translate(-50% , -50%) rotate(45deg);}
.mainPage nav .sideMenu > div div button::after{transform:translate(-50% , -50%) rotate(-45deg);} */
.mainPage nav .sideMenu > div > ul > li{padding: 0 15px; border-bottom: 1px solid #e6e6e6;}
.mainPage nav .sideMenu > div > ul > li a{display: block;}
.mainPage nav .sideMenu > div > ul > li > a{padding: 30px 0; font-size: 16px; font-weight: 500;}
.mainPage nav .sideMenu > div > ul > li ul{display: none;}
.mainPage nav .sideMenu > div > ul > li ul li a{padding: 10px; font-size: 15px; font-weight: 300; color: #666;}
.mainPage nav .sideMenu > div > button{position: absolute; right: 15px; top: 15px;}
/* .mainPage nav .sideMenu > div > ul > li.active ul{padding-bottom: 20px;} */
/* .mainPage nav .sideMenu.active{display: flex;} */


/* 이용약관 */
.termsArea > ol{font-size: 15px;}
.termsArea > ol > li{counter-increment: termsArea01;}
.termsArea > ol > li::before{content: '제' counter(termsArea01) '조(' attr(title) ')'; display: block;}
.termsArea > ol > li ol li{counter-increment: termsArea02;}
.termsArea > ol > li ol li::before{content: counter(termsArea02); display: inline-block; width: 13px; line-height: 13px; text-align: center; font-size: 10px; border: 1px solid black; border-radius: 100%;}


/* 지원서비스 센터 */
/* 지원서비스 센터 - 보상 한도 */
.termsArea .compensationArea ul li{display: flex; align-items: center; height: 65px; font-size: 16px; border: 1px solid black;}
.termsArea .compensationArea ul li:not(:last-child){margin-bottom: 10px;}
.termsArea .compensationArea ul li::before{content: attr(title);  width: 90px; font-size: 18px; font-weight: 700; text-align: center;}

/* 지원서비스 센터 - 자기부담금 지급 절차 */
.termsArea .selfPay ol{margin-bottom: 20px;}
.termsArea .selfPay ol li{align-items: center;}
.termsArea .selfPay ol li:before{margin-right: 15px;}
.termsArea .selfPay ol li:not(:last-child){margin-bottom: 15px;}
.termsArea .selfPay ol li strong{display: flex; align-items: center;}
.termsArea .selfPay ol li strong::before{content: ''; min-width: 90px; height: 90px; background-repeat: no-repeat; background-position: center; background-size: cover; border-radius: 100%; background-color: #f9f9f9; margin-right: 20px;}
.termsArea .selfPay ol li:nth-child(1) strong::before{background-image: url('../images/ic-step-1.png');}
.termsArea .selfPay ol li:nth-child(2) strong::before{background-image: url('../images/ic-step-2.png');}
.termsArea .selfPay ol li:nth-child(3) strong::before{background-image: url('../images/ic-step-3.png');}
.termsArea .selfPay ol li:nth-child(4) strong::before{background-image: url('../images/ic-step-4.png');}
.termsArea .selfPay ol li:nth-child(5) strong::before{background-image: url('../images/ic-step-5.png');}


/* 보험금 청구 */
.claimArea ul li{font-size: 16px; color: white;}
.claimArea ul li:not(:last-child){margin-bottom: 10px;}
.claimArea ul li a{display: block; padding: 25px; box-sizing: border-box; background-repeat: no-repeat; background-position: right 15px bottom 10px;}
.claimArea ul li:nth-child(1) a{height: 160px; background-color:#2e3239; background-image: url('../images/ic-step-6.png');}
.claimArea ul li:nth-child(2) a{height: 110px; background-color: #0bbef3; background-image: url('../images/ic-step-4.png');}

/* 보험금 청구 - 필수 제출 서류*/
.documentArea > div > div > ol{margin-bottom: 20px;}
.documentArea > div > div > p{color: #ff2f2f;}
.documentArea .knowArea{background-color: #f5f5f5; padding: 30px 0;}
.documentArea .knowArea div strong{display: block; padding-top: 50px; max-width: 140px; background: url('../images/ic-notice.png') no-repeat left top; margin-bottom: 30px;}

/* 보험금 청구 - STEP01 */
.step01Area section > div,
.step01Area section fieldset{padding: 20px; border: 1px solid #e6e6e6;}
.step01Area section > div strong{display: block; margin-bottom: 10px;}
.step01Area section > div p{color: #666666;}
.step01Area section > div p:not(:last-of-type){margin-bottom: 20px;}
.step01Area .agreeArea .fullAgree{display: flex; justify-content: space-between; align-items: center; font-weight: 700; margin-bottom: 20px;}
.step01Area .agreeArea .fullAgree label::after{order: -1; margin-left: 0; margin-right: 10px;}
.step01Area .agreeArea fieldset:not(:last-of-type){margin-bottom: 15px;}
.step01Area .agreeArea fieldset strong{display: block; margin-bottom: 20px;}
.step01Area .agreeArea fieldset ul li:not(:last-child){margin-bottom: 15px;}
.step01Area .agreeArea fieldset ul li label{justify-content: flex-end;}
/* .step01Area .agreeArea fieldset ul li label::after{order: -1; margin-left: 10px;} */
.step01Area .agreeArea fieldset ul li label span{margin-right: auto; line-height: 1;}
.step01Area .agreeArea [data-popup='popup01'] div strong{max-width: 145px;}
.step01Area .agreeArea [data-popup='popup01'] div .olCase02{flex: 1; overflow: auto;}
.step01Area .agreeArea [data-popup='popup01'] div .olCase02 li button{font-size: 16px; padding: 25px 20px; border-bottom: 1px solid #e6e6e6;}
.step01Area .agreeArea [data-popup='popup01'] div .olCase02 li p{display: none; padding: 20px; color: #666666; background-color: #f9f9f9; border-width: 0 1px 1px; border-style: solid; border-color: #e6e6e6;}
/* .popupArea.active{display: block;} */

/* 보험금 청구 - STEP02 */
.step02Area .olCase02 li:not(:last-child){margin-bottom: 30px;}
.step02Area .olCase02 li button{font-size: 20px; padding: 20px 0; border-bottom: 1px solid black;}
.step02Area .olCase02 li fieldset p{color: #666666; margin-top: 20px;}
.step02Area .olCase02 li fieldset ul{font-weight: 700; margin-top: 30px;}
.step02Area .olCase02 li fieldset ul li{position: relative;}
.step02Area .olCase02 li fieldset ul li:not(:last-child){margin-bottom: 30px;}
/* 입력 박스 공통 */
/* .step02Area .olCase02 li fieldset ul li :is(input , select){ height: 50px;} */
/* .step02Area .olCase02 li fieldset ul li :is(input , select , textarea){width: 100%; padding: 15px; border: 1px solid #e6e6e6; box-sizing: border-box;} */
/* 입력 박스 부연설명 data-furtherExplanation*/
.step02Area .olCase02 li fieldset ul li [data-FE]{position: relative;}
.step02Area .olCase02 li fieldset ul li [data-FE]::before{ content: attr(data-FE); position: absolute; right: 15px; top: 0; height: 100%; display: flex; align-items: center;}
.step02Area .olCase02 li fieldset ul li [data-FE="원"] input{text-align: right; padding-right: 30px;}
.step02Area .olCase02 li fieldset ul li [data-FE="down"]::before{text-indent: -9999px; width: 24px; background: url('../images/ic-down.png') no-repeat center;}
/* 입력 박스 가로로 두개 */
.step02Area .olCase02 li fieldset ul li .twoBox{margin-top: 10px; display: flex; justify-content: space-between;}
.step02Area .olCase02 li fieldset ul li .twoBox > *{width: calc((100% - 10px) / 2);}
/* 체크박스 위치*/
.step02Area .olCase02 li fieldset ul li input[type="checkbox"]{display: none;}
.step02Area .olCase02 li fieldset ul li input[type="checkbox"] + label{position: absolute; right: 0; top: 0; font-weight: 300;}

.step02Area .olCase02 li fieldset ul li > label:first-child{display: block; margin-bottom: 10px;}
.step02Area .olCase02 li fieldset ul li textarea{height: 130px;}

/* 보험금 청구 - STEP03 */
.step03Area section h3{padding-bottom: 10px; border-bottom: 1px solid black;}
.step03Area section .ulCase01 li{padding: 15px 0; border-bottom: 1px solid #e6e6e6;}
.step03Area section ol li{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.step03Area section ol li:not(:last-child){margin-bottom: 30px;}
.step03Area section ol li::before{width: 100%; margin-bottom: 10px;}
.step03Area section ol li div{flex: 1; position: relative;}
.step03Area section ol li div input[type="file"]{display: none;}
.step03Area section ol li div button{position: absolute; right: 10px; top: 0; height: 100%;}
.step03Area section ol li button{margin-left: 20px;}
.step03Area section > button{display: flex; align-items: center; font-weight: 700; margin-top: 20px;}
.step03Area section > button::before{content: ''; width: 22px; height: 22px; background: url('../images/ic-add.png') no-repeat center / cover; margin-right: 10px;}

/* 보험금 청구 - STEP03  - popup 메뉴*/
.step03Area .menuArea{align-items: center;}
.step03Area .menuArea > div{background-color: white; padding: 25px; box-sizing: border-box;}
.step03Area .menuArea > div > b{display: block; font-size: 18px; margin-bottom: 25px;}
.step03Area .menuArea > div > ul > li{border: 1px solid black;}
.step03Area .menuArea > div > ul > li:not(:last-child){margin-bottom: 10px;}
.step03Area .menuArea > div > ul > li > button{width: 100%; line-height: 50px; font-size: 14px; font-weight: 700; text-align: left; padding: 0 20px 0 65px; background-repeat: no-repeat; background-position: left 20px center;}
.step03Area .menuArea > div > ul > li:nth-child(1) > button{background-image: url('../images/ic-camera.png');}
.step03Area .menuArea > div > ul > li:nth-child(2) > button{background-image: url('../images/ic-gallery.png');}
.step03Area .menuArea > div > ul > li:nth-child(3) > button{background-image: url('../images/ic-file.png');}

/* 보험금 청구 - STEP03  - popup 갤러리*/
.step03Area .galleryArea ul{display: flex; flex-wrap: wrap; gap: 1px;}
.step03Area .galleryArea ul li{ position: relative; width: calc((100% - 2px) / 3);}
.step03Area .galleryArea ul li label{width: 100%; padding-bottom: 100%; text-indent: -9999px; background-color: #e3e3e3;}
.step03Area .galleryArea ul li label::after{position: absolute; right: 10px; top: 10px;}

/* 보험금 청구 - STEP03  - popup 파일*/
.step03Area .fileArea ul li{border-bottom: 1px solid #e6e6e6;}
.step03Area .fileArea ul li input[type="file"]{display: none;}
.step03Area .fileArea ul li label{padding: 25px 20px; display: flex; justify-content: space-between; align-items: center; font-size: 17px; font-weight: 500;}
.step03Area .fileArea ul li label::after{content: ''; width: 24px; height: 24px; background: url('../images/ic-file.png') no-repeat center / cover;}


/* 보험금 청구 - STEP04 */
.step04Area > div strong{display: block; margin-bottom: 10px;}
.step04Area > div div{position: relative;}
.step04Area > div div textarea{height: 220px;}
.step04Area > div div button{position: absolute; right: 12px; bottom: 12px;}


/* 고객센터 */
.serviceCenter > div ul{}
.serviceCenter > div ul li{padding: 30px 20px 25px; border-bottom: 1px solid #e6e6e6; position: relative;}
.serviceCenter > div ul li a{font-weight: 300;}
.serviceCenter > div ul li a b{display: block; font-weight: 500; margin-bottom: 10px;}
.serviceCenter > div ul li::after{content: ''; width: 55px; height: 55px; border: 1px solid black; border-radius: 100%; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); background-repeat: no-repeat; background-position: center; background-size: 26px;}
.serviceCenter > div ul li:nth-child(1)::after{background-image: url('../images/ic-cs.png');}
.serviceCenter > div ul li:nth-child(2)::after{background-image: url('../images/ic-kakao.png');}
.serviceCenter > div ul li:nth-child(3)::after{background-image: url('../images/ic-fax.png');}
.serviceCenter > div ul li:nth-child(4)::after{background-image: url('../images/ic-email.png');}


/* FAQ */
.FAQArea nav{margin-top: 15px;}
.FAQArea > div ul li button{width: 100%; padding: 25px 20px; font-size: 16px; font-weight: 700; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #e6e6e6;}
.FAQArea > div ul li button::after{content: ''; width: 24px; height: 24px; background: url('../images/ic-up.png') no-repeat center / cover; margin-left: auto; transition: 0.5s;}
.FAQArea > div ul li button.active::after{transform: rotate(180deg);}
.FAQArea > div ul li div{padding: 20px; background-color: #f9f9f9; border-bottom: 1px solid #e6e6e6;}